@import './color';

*{

    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

svg{

    &.icon-svg{

        width: 1rem;
        height: 1rem;
        color: $red;

        &.icon-svg-pointer{

            cursor: pointer;
        }
    }
}

.tweet {
    background-color: $green;
    border: 2px solid $green;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 8px;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-radius: 0.5rem;
    gap: 1rem;

    .close-card{
        position: absolute;
        right: 1rem;
        top: 0.8rem;
    }
    .header{
        h1{

            &.title{
                font-size: $title;
            }
        }
    }

    .body{

        p{

            font-size: $description;
        }
    }

    .footer{

        button {
            width: 4rem;
            padding: 0.4rem;
            border: none;
            cursor: pointer;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
    
            &.btn-custom{
    
                display: flex;
                align-items: center;
                justify-content: space-around;
    
                
            }
        }
    }
    }

.content-tweet { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
}